<!DOCTYPE html>
<html>
  <head>
    <title>KyraTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://www.googleapis.com/youtube/v3/api/js?key=#{ENV['YOUTUBE_DATA_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
